@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Tilt+Neon&display=swap');

*{
    margin:0;
    padding:0;
    font-family:  'Pixelify Sans', sans-serif;
}

body {
    background:radial-gradient(rgb(40, 40, 250), rgb(230, 17, 230));
    font-size: 30px;
    }
    
.hide {
    display: none !important;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #9b2c2c;
}

.header__menu {
    position: relative;
}

.header__menu .menu__btn {
    background: transparent;
    border: none;
    cursor: pointer;
}

.header__menu .menu__btn svg {
    width: 25px;
    height: 25px;
}

.header__menu .menu__list {
    margin: 0;
    padding: 10px 20px;
    list-style-type: none;
    border-radius: 4px;
    background: #efefef;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    animation: menu-showing .3s;
}

.header__menu .menu__link {
    font-size: 14px;
    line-height: 16px;
    color: #fafafa;
    text-decoration: none;
}


@keyframes menu-showing {
from {
transform: translateY(95%);
}
}


.dropbtn {
    background: linear-gradient(red, blue); 
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
 
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
 
  .dropdown-content {
    display: none;
    position: absolute;
    background:radial-gradient(pink,purple);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd}
  
  .show {display:block;}

  .drbtn {
    background:radial-gradient(purple,rgb(0, 0, 119));
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  
  .drbtn:hover, .dropbtn:focus {
    background-color: #197abb;
  }
  
 
  .drpdown {
    position: relative;
    display: inline-block;
  }
  
 
  .drpdown-content {
    display: none;
    position: absolute;
    background:linear-gradient(red,yellow);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .drpdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .drpdown-content a:hover {background-color: #ddd}
  
  .show {display:block;}


.portfolio__btn{
   
    width: 50%;
    max-width: 30%;
    height: 40px;
    background: crimson;
    box-shadow: 0 -15px 7px -12px mediumorchid inset,
                0 -22px 7px -12px teal inset,
                0 -28px 7px -12px plum inset;
    border-radius: 10px;
    animation: background 7s infinite alternate;
}

@keyframes background {
    50%{
        background: darkorchid;
        box-shadow: 0 -14px 7px -12px rgb(208, 118, 0) inset,
                    0 -22px 7px -12px rgb(0, 189, 189) inset,
                    0 -28px 7px -12px rgb(0, 181, 57) inset;
    }
}
.info{
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    max-width: 80%;
    height: 600px;
    background: crimson;
    box-shadow: 0 -150px 70px -120px mediumorchid inset,
                0 -220px 70px -120px teal inset,
                0 -280px 70px -120px plum inset;
    border-radius: 10px;
    animation: background 7s infinite alternate;
}
@keyframes background {
    50%{
        background: darkorchid;
        box-shadow: 0 -140px 70px -120px rgb(208, 118, 0) inset,
                    0 -220px 70px -120px rgb(0, 189, 189) inset,
                    0 -280px 70px -120px rgb(0, 181, 57) inset;
    }
}

.portfolio{
    margin-bottom:20px;
    padding: 10px;
    width: 100%;
    max-width: 80%;
    height: 200px;
    background: crimson;
    box-shadow: 0 -150px 70px -120px rgb(208, 118, 0) inset,
                0 -220px 70px -120px rgb(0, 189, 189) inset,
                0 -280px 70px -120px rgb(0, 181, 57) inset;
    border-radius: 20px;
    border: none;
    animation: background 7s infinite alternate;
  }
  
  @keyframes background {
    50% {
      background: darkviolet;
      box-shadow: 0 -140px 70px -120px mediumorchid inset,
                  0 -210px 70px -120px teal inset,
                  0 -280px 70px -120px plum inset;
    }
  }
  
  /* Helpers */
 
  .laba{
    max-height: 0;
    overflow: hidden;
  }

